SHOPIFY_API_KEY=your_shopify_api_key
SHOPIFY_PASSWORD=your_shopify_password
MAKE_API_TOKEN=your_make_api_token
MAKE_SCENARIO_ID=your_make_scenario_id
RUNWAY_API_KEY=your_runway_api_key
ELEVENLABS_API_KEY=your_elevenlabs_api_key
